.claw
{
    background-image: url("../../../public/Resources/Backgrounds/Crickets.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex: 1 1 auto;
    color: white;
}

.claw-game
{
    
}

.controller 
{

}

.up
{

}

.down 
{

}

.left
{

}

.right
{

}

.drop
{

}

.coin
{

}